<h1>Game of Thrones Cast</h1>
<ul>
    {{#each characters}}
        <li>
            <strong>{{name}}</strong>
            ({{house}}) — Played by
            {{actor}}
            — Located at
            {{location}}
        </li>
    {{/each}}
</ul>